{% extends 'template.html' %}
{% block content %}

<section class="about">
    <h2 class="title">Py - Agri</h2>
    <div class="container">
        <img src="../static/images/about_image.jpg" alt="py-agri" class="about_img">
    </div>
    <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis rem ad quidem, in iusto repudiandae perferendis tempora sequi numquam culpa vel necessitatibus sunt, quis atque asperiores dolorum laborum provident natus quas nulla neque recusandae saepe, illo deleniti? Laudantium itaque, fugit laborum minima aspernatur reprehenderit? Est dolorum esse necessitatibus officiis aliquam. Officiis, explicabo? Laborum, voluptas, nesciunt sit iste vel facilis, enim alias repellat velit odit modi? Quis omnis possimus pariatur architecto iusto ad suscipit doloremque minus at dolores dicta itaque nulla, blanditiis iste consectetur voluptatem tempora necessitatibus repellendus odit ipsa ipsum? Possimus assumenda inventore est earum dolores, nesciunt modi ipsum voluptas excepturi blanditiis repellat! Ab nobis nihil.</p>
    <p class="content"> dicta earum eligendi incidunt, rem porro officia quam consequatur, dolorum saepe itaque est error. Obcaecati quasi ducimus optio. Illo sint harum deleniti ea, similique, esse accusamus id sunt ipsa, recusandae modi tenetur repudiandae explicabo inventore beatae! Culpa blanditiis aspernatur impedit tempore? Illum consequatur eveniet provident velit numquam laborum, harum dolore quis. Fuga neque sapiente quasi velit molestiae ea! Voluptates amet voluptate illo, perspiciatis distinctio debitis dignissimos pariatur commodi laudantium excepturi nobis, minus tempora nesciunt velit cumque impedit. Culpa, at! Reprehenderit, velit placeat, vero impedit asperiores est necessitatibus aliquam eum illum deleniti eius eveniet magnam!</p>
</section>

{% endblock %}
