{% extends 'template.html' %} {% block content %}

<section class="about">
  <h2 class="title">Py - Agri</h2>
  <div class="container">
    <img
      src="../static/images/about_image.jpg"
      alt="py-agri"
      class="about_img"
    />
  </div>
  <p class="content">
    Since agriculture plays a vital role in the Indian Occupation economy, it also plays an essential role for the survival of humans throughout the history, and it remains to be the backbone of many countries. As the world got evolved and developed, the necessity of agriculture has also expanded far beyond the importance of farming. 
When we consider the present generation, most of them are not interested in farming which results in the gradually decrease of importance and the necessity of the agriculture. In this case, when 1 person came out of the 100, then there’s a low probability of success in their ideas of how to do things in agriculture. But, what if we have an option to refer other experienced farmers to learn certain things about the agriculture virtually, i.e., through their survey blogs, watching some of their practical videos, etc...
  </p>
  <p class="content">
    By doing such things, we can increase the percentage of young farmers, which not only increase the count the farmers but also, increase the importance of the agriculture and the awareness towards it, and thus the economy of the country will be raised. And so, the wealth of the country will be increased. 
Some of the challenges that the young farmers face are as follows. “Cope with climate change, soil erosion and biodiversity loss”, “Adopt and learn new technologies”, “Stay resilient against global economic factors”, “Invest in farm productivity”, “meet rising demand for more food or higher quality”, etc..
There’s one last question: Who is going to farm in the future? As millions of people from rural areas migrate to cities each year, farmers need to inspire enough of them to remain and build a career in agriculture.
  </p>
</section>

{% endblock %}
