{% extends 'template.html' %} {% block content %}
<section class="index">
  <div class="about_container">
    <div class="container">
      <img
        src="../static/images/about_image.jpg"
        alt="py-agri"
        class="about_img"
      />
    </div>
    <div class="about_content_container">
      <p class="content">
        Since agriculture plays a vital role in the Indian Occupation economy,
        it also plays an essential role for the survival of humans throughout
        the history, and it remains to be the backbone of many countries. As the
        world got evolved and developed, the necessity of agriculture has also
        expanded far beyond the importance of farming. When we consider the
        present generation, most of them are not interested in farming which
        results in the gradually decrease of importance and the necessity of the
        agriculture. In this case, when 1 person came out of the 100, then
        there’s a low probability of success in their ideas of how to do things
        in agriculture.
        <a href="{% url 'about'%}">Read More</a>
      </p>
    </div>
  </div>
</section>
{% endblock %}
