{% extends 'template.html' %} {% block content %}
<section class="login">
    <div class="container">
        <form method="post" autocomplete="off">
            
            {% csrf_token %}
            <h3 class="title">Login</h3> 
            <div class="form_group">
                <label for="user-name">User Name</label>
                {{form.username}}
            </div>
            
            <div class="form_group">
                <label for="password">Password</label>
                {{form.password}}
            </div>
            <button type="submit">Log In</button>
            
            <p class="login_request">Don't have an account? <a href="{% url 'signup' %}">Register</a></p>
        </form>
      </div>
</section>
{% endblock %}
