{% extends 'template.html' %} {% block content %}
<section class="login">
    <div class="container">
        <form method="post" autocomplete="off">
            
            {% csrf_token %}
            
            <div class="form_group">
                <label for="user-name">User Name</label>
                {{form.username}}
            </div>
            
            <div class="form_group">
                <label for="password">Password</label>
                {{form.password}}
            </div>
            <button type="submit">Log In</button>
        </form>
      </div>
</section>
{% endblock %}
