{% extends 'template.html' %}
{% block content %}
<section class="signup">
    <div class="container">
        <form method="post" autocomplete="off">
                {% csrf_token %}
                <h3 class="title">Sign Up</h3>
                <div class="form_group">
                    <label for="user-name">User Name</label>
                    {{form.username}}
                </div>
                <div class="form_group">
                    <label for="user-gmail">Email</label>
                    {{form.email}}
                </div>
                <div class="form_group">
                    <label for="password">Password</label>
                    {{form.password1}}
                </div>
                <div class="form_group">
                    <label for="re-password">Re-Password</label>
                    {{form.password2}}
                </div>
                <input type="submit" value="Register">
            </div>    
        </form>

        {{form.errors}}
    </div>
</section>
{% endblock %}
