<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Pyagri | Pyexpo | Metazord</title>
  </head>
  <body>
    <header>
      <nav>
        <input type="checkbox" name="check" id="check">
        <h2><a href="{% url 'home' %}" class="logo">py-agri</a></h2>
        <label for="check"><i class="fa fa-bars"></i></label>
        <ul>
          <li><a href="{% url 'home' %}">home</a></li>
          <li><a href="{% url 'about' %}">about</a></li>
          <li><a href="#">blogs</a></li>

          {% if user.is_authenticated %}
          <li><a href="#">video</a></li>
          <li><a href="#">surveys</a></li>
          <li><a href="{% url 'profile'%}">profile</a></li>
          <li><a href="{% url 'logout'%}">logout</a></li>
          {% else %}
            <li><a href="{% url 'signup' %}">sign up</a></li>
            <li><a href="{% url 'login' %}">login</a></li>
          {% endif %}

        </ul>
      </nav>
    </header>

    {%block content%}
    
    {% endblock %}

    <footer class="footer">
      <p><a href="https://www.kgkite.ac.in/" target ="_blank">Kgisl Institute of Technology</a> | PyAgri | PYEXPO 2023</p>
    <footer>
  </body>
</html>
