<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
  </head>
  <body>
    {% comment %}
    <header>
      <nav>
        <ul>
          <div class="about">
            <li><a href="#">about</a></li>
          </div>
          {% if request.user.is_authenticated %}
          <div class="signup_login">
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </div>
          {% else %}
          <div class="signup_login">
            <li><a href="{% url 'signup' %}">sign up</a></li>
            <li><a href="{% url 'login' %}">login</a></li>
          </div>
          {% endif%}
        </ul>
      </nav>
    </header>
    {% endcomment %}

    <header>
      <nav>
        <!-- <input type="checkbox" name="check" id="check"> -->
        <h2><a href="{% url 'home' %}" class="logo">py-agri</a></h2>
        <!-- <label for="check"><i class="fa fa-bar">M</i></label> -->
        <ul>
          <li><a href="{% url 'home' %}">home</a></li>
          <li><a href="{% url 'about' %}">about</a></li>
          <li><a href="{% url 'signup' %}">sign up</a></li>
          <li><a href="#">login</a></li>
          {% comment %}
          <li><a href="#">Logout</a></li>
          {% endcomment %}
        </ul>
      </nav>
    </header>

    {%block content%}
    
    {% endblock %}
  </body>
</html>
